//colors
$color_cod_gray_approx: #080808;
$color_razzmatazz_approx: #f00060;

//fonts
$font_0: 微軟正黑體;

//@extend-elements
//original selectors
//html, body
%extend_1 {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}


@charset "UTF-8";
* {
	font-family: $font_0;
	position: relative;
}
html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
.container-fluid {
	padding: 0;
	img {
		height: 100%;
		width: 100%;
	}
}
section.numbertwo {
	margin-left: 50px;
	margin-right: 50px;
	.col-tittle {
		font-size: 25px;
		text-align: center;
	}
	hr {
		border-color: $color_cod_gray_approx;
	}
	span {
		color: $color_razzmatazz_approx;
	}
	.col-md-12 {
		&.col-copyright {
			margin-top: 100px;
	    margin-bottom: 50px;
	    text-align: center;
	    font-size: 10px;
		}
		&.col-bigimg {
			margin-top: 30px;
			// margin-left: 70px;
			text-align: center;

			img {
				max-width: 100%;
				height: auto !important;
			}
		}
	}
	.word {
		margin-top: 35px;
	}
	.col-md-5.col-img {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.col-md-7.col-p {
		margin-top: 30px;
		font-size: 18px;
		line-height: 50px;
		font-weight: 100;
	}
}
.col-tittle{
	font-weight: 800;
}
