//colors
$color_quill_gray_approx: #d4d4d4;
$color_chicago_approx: #5c5c5c;
$color_fuscous_gray_approx: #545454;
$color_gray_nurse_approx: #e8e8e8;
$color_orange_peel_approx: #faa200;
$red: red;

//fonts
$font_0: 微軟正黑體;

//@extend-elements
//original selectors
//html, body
%extend_1 {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}


@charset "UTF-8";
* {
	font-family: $font_0;
	position: relative;
	font-weight: 800;
}
html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
.container-fluid {
	padding: 0;
	img {
		height: 100%;
		width: 100%;
	}
}
section {
	&.numbertwo {
		// border-bottom: solid $color_quill_gray_approx;
		color: $color_chicago_approx;
		.col-md-12 {
			&.col-tittle {
				text-align: center;
				font-size: 25px;
				margin-top: 50px;
				margin-bottom: 20px;
			}
			&.col-button {
				text-align: center;
				font-size: 25px;
				background-color: $color_fuscous_gray_approx;
				padding: 0px;
				cursor: pointer;
				ul {
					border: none;
					li {
						list-style: none;
						width: 50%;
						a {
							color: $color_gray_nurse_approx;
							background-color: $color_fuscous_gray_approx;
							border: none;
							margin: 0px;
						}
						&.active a {
							background-color: $color_orange_peel_approx;
						}
					}
				}
			}
			&.col-map {
				left: 50%;
				right: 50%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateX(-50%);
				max-width: 900px;
				margin-top: 35px;
			}
			&.col-contact {
				font-weight: lighter;
				margin-top: 30px;
				margin-bottom: 30px;
				text-align: center;
				line-height: 20px;
			}
		}
	}
	&.numbersix {
		margin-top: 80px;
		text-align: center;
		.col-md-12 {
			&.col-tittle {
				text-align: center;
				font-size: 25px;
				margin-top: 30px;
			}
			&.col-list {
				text-align: left;
				margin-top: 20px;
				padding-top: 10px;
				line-height: 45px;
				background-color: $color_fuscous_gray_approx;
				color: $color_gray_nurse_approx;
				ul{
					li{
						list-style: none;
					}
				}
			}
			&.col-tel {
				width: 100%;
				margin: 10px auto;
				text-align: left;
				.contact-table {
					margin: 30px auto 0 auto;
					width: 100%;
					max-width: 600px;
					span {
						color: $red;
					}
					tr {
						td {
							padding: 5px;
						}
						textarea {
							width: 100%;
						}
					}
				}
				.btn-contact {
					background-color: $color_fuscous_gray_approx;
					color: $color_gray_nurse_approx;
					width: 50%;
					left: 50%;
					right: 50%;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: translateX(-50%);
				}
			}
			&.col-copyright {
				margin-top: 100px;
				margin-bottom: 50px;
				text-align: center;
				font-size: 10px;
			}
		}
	}
}

.container-fluid{
	overflow: hidden;
}
