//fonts
$font_0: 微軟正黑體;

//@extend-elements
//original selectors
//html, body
%extend_1 {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}


@charset "UTF-8";
* {
	font-family: $font_0;
	position: relative;
	font-weight: 800;
}
html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
.container-fluid {
	padding: 0;
	margin-bottom: 50px;
	img {
		height: 100%;
		width: 100%;
	}
}
section.numbertwo .col-md-4 {
	&.col-set {
		position: relative;
		margin-top: 30px;
		text-align: center;

		.featureImage {
			position: relative;
			transition: all .2s ease;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				max-width: 100%;
				max-height: 100%;
			}
		}

		a {
			// position: absolute;
			// top: 50%;
			// left: 50%;
			font-size: 20px;
			color: #000;
			// opacity: 0;
			text-decoration: none;
			// transform: translateX(-50%) translateY(-50%);
			transition: all .3s ease;
		}


		// &:hover {
		// 	.featureImage {
		// 		opacity: 0.3;
		// 	}
		//
		// 	a {
		// 		opacity: 1;
		// 	}
		// }
	}
	&.col-bottom {
		margin-top: 30px;
		left: 50%;
		right: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%);
		margin-bottom: 100px;
	}
}
.col-md-12.col-copyright {
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 10px;
}
.sub-page-header{
	overflow: hidden;
}
