@charset "UTF-8";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 微軟正黑體;
  position: relative;
  font-weight: 800;
}

.container-fluid {
  padding: 0;
}

.container-fluid img {
  height: 100%;
  width: 100%;
}

section.numbertwo {
  padding-top: 70px;
  padding-bottom: 70px;
}

section.numbertwo .img-responsive {
  margin-bottom: 50px;
}

section.numberthree {
  padding-top: 15px;
  color: #5c5c5c;
}

section.numberthree hr {
  border-color: #d4d4d4;
}

section.numberthree .col-tittle {
  text-align: center;
  margin-bottom: 50px;
}

section.numberthree .col-tittle p {
  font-size: 25px;
}

section.numberthree .name {
  margin-top: 20px;
  font-size: 25px;
}

section.numberthree p {
  font-size: 15px;
}

section.numberthree .btn.btn-default {
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 5px 25px;
}

section.numberfour {
  color: #5c5c5c;
}

section.numberfour hr {
  border-color: #d4d4d4;
}

section.numberfour .col-md-12.col-tittle {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

section.numberfour .col-md-12.col-tittle .eng {
  font-size: 30px;
  letter-spacing: 2px;
}

section.numberfour .col-md-4.col-img {
  margin-top: 30px;
  margin-bottom: 50px;
}

section.numberfive {
  color: #5c5c5c;
}

section.numberfive .col-md-12.col-tittle {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

section.numberfive .col-md-12.col-button {
  text-align: center;
  font-size: 25px;
  background-color: #545454;
  padding: 0px;
  cursor: pointer;
}

section.numberfive .col-md-12.col-button ul {
  border: none;
}

section.numberfive .col-md-12.col-button ul li {
  list-style: none;
  width: 50%;
}

section.numberfive .col-md-12.col-button ul li a {
  color: #e8e8e8;
  background-color: #545454;
  border: none;
  margin: 0px;
}

section.numberfive .col-md-12.col-button ul li.active a {
  background-color: #faa200;
}

section.numberfive .col-md-12.col-map {
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 900px;
  margin-top: 35px;
}

section.numberfive .col-md-12.col-contact {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 10px;
}

section.numbersix {
  text-align: center;
}

section.numbersix .col-md-12.col-tittle {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

section.numbersix .col-md-12.col-list {
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 45px;
  background-color: #545454;
  color: #e8e8e8;
}

section.numbersix .col-md-12.col-list ul li {
  list-style: none;
}

.btn-contact {
  background-color: #545454;
  color: #e8e8e8;
  width: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.col-md-12.col-tel {
  width: 100%;
  margin: 10px auto;
  text-align: left;
}

.col-md-12.col-tel .contact-table {
  margin: 10px auto 0 auto;
  width: 100%;
  max-width: 600px;
}

.col-md-12.col-tel .contact-table span {
  color: red;
}

.col-md-12.col-tel .contact-table tr td {
  padding: 5px;
}

.col-md-12.col-tel .contact-table tr textarea {
  width: 100%;
}

.col-md-12.col-copyright {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 10px;
}

