@charset "UTF-8";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 微軟正黑體;
  position: relative;
  font-weight: 800;
}

.container-fluid {
  padding: 0;
  margin-bottom: 150px;
}

.container-fluid img {
  height: 100%;
  width: 100%;
}

section.numbertwo .col-md-4.col-set {
  margin-top: 30px;
  font-size: 20px;
}

section.numbertwo .col-md-4.col-set p {
  margin-top: 20px;
}

.col-md-12.col-copyright {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 10px;
}

