@charset "UTF-8";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 微軟正黑體;
  position: relative;
  font-weight: 600;
}

.container-fluid {
  padding: 0;
}

.container-fluid img {
  height: 100%;
  width: 100%;
}

section.numbertwo {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 25px;
}

section.numberthree {
  margin-left: 50px;
  margin-right: 50px;
  border: solid 1px;
  font-size: 18px;
  color: #ebebeb;
}

section.numberthree a {
  text-decoration: none;
  color: #ebebeb;
}

section.numberthree table {
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 350px;
  margin-bottom: 200px;
}

section.numberthree .first {
  background-color: #4a4a4a !important;
}

section.numberthree .download {
  cursor: pointer;
}

section.numberthree td {
  border-right: solid 2px white;
}

section.numberthree td:last-child {
  border-right: none;
}

section.numberthree tr {
  border-bottom: solid 2px white;
  text-align: center;
}

section.numberthree tr:nth-child(odd) {
  background: #bdbdbd;
}

section.numberthree tr:nth-child(even) {
  background: #8f8f8f;
}

.col-md-12.col-copyright {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 10px;
}

